@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300;400&display=swap");

:root {
    --header-grey: #202020;
    --red-color: #f73000;
    --blue-color: #2154ce;
    --dark-grey: #181818;
    --light-grey: #303030;
    --lighter-grey: rgb(170, 170, 170);
    --font-color: #ffffff;

    --font-large: 26px;
    --font-medium: 18px;
    --font-small: 14px;
    --font-extra-small: 13px;

    --icon-head: 20px;
    --icon-metaInfo: 20px;
}

* {
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    font-size: 12px;
    font-weight: 100;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--dark-grey);
}

.container {
    margin: 0 24px;
}

/* Header */
.header {
    background-color: var(--header-grey);
    width: 100%;
}

.header .header-container {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Start */
.header-container .header-start {
    display: Flex;
    align-items: center;
}

.header-container .header-start .guide-button .fa-bars {
    color: rgba(255, 255, 255, 0.954);
    font-size: 20px;
    padding: 8px;
}

.header-container .header-start .header-logo {
    display: flex;
    align-items: center;
    padding: 18px 16px;
    font-size: var(--font-large);
    letter-spacing: -7px;
    position: relative;
}

.header-container .header-start .header-logo .logo-title {
    display: inline-block;
    font-size: 22px;
    letter-spacing: -1px;
    transform: scale(0.8, 1.2);
}

.header-container .header-start .header-logo .fa-youtube {
    color: var(--red-color);
    font-size: 26px;
}

.header-container .header-start .header-logo .country-code {
    font-weight: 100;
    font-size: 10px;
    letter-spacing: -1px;
    position: absolute;
    right: 8px;
    top: 15px;
    color: white;
}

/* Header Center */

.header-center {
    display: flex;
    width: 70%;
    justify-content: center;
}

.header-center .searchbox {
    display: Flex;
    justify-content: center;
    width: 80%;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid var(--light-grey);
}

.header-center .searchbox .search-form {
    width: 85%;
    height: 100%;
    align-items: center;
}

.header-center .searchbox .search-form input {
    all: unset;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
    padding-left: 5px;
}

.header-center .searchbox .search-form input:focus {
    border: 1px solid var(--blue-color);
    z-index: 10;
}

.header-center .searchbox .search-form input::placeholder {
    color: #acacac;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

.header-center .searchbox .search-form input[type="text"] {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.header-center .searchbox .serach-icon {
    padding: 10px;
    height: 100%;
    width: 15%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-center .searchbox .serach-icon .fa-search {
    font-size: var(--icon-head);
}

.header-center .voice-search-button {
    width: 40px;
    height: 40px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: Flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    cursor: pointer;
}

.header-center .voice-search-button .fa-microphone {
    font-size: var(--icon-head);
}

/* Header End */

.header-end {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-end .notification-button .fa-bell {
    font-size: var(--icon-head);
}

/* avatar */
.header__avatar .avatar,
.video-secondary-info__avatar .avatar {
    background: url(images/avatar.png);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.avatar--small {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.avatar--big {
    width: 48px;
    height: 48px;
}

/* Player */

.player {
    width: 100%;
    max-width: 700px;
    margin: 24px auto;
}

.player .player-container {
    width: 100%;
    position: relative;
    height: auto;
    padding-top: 56.25%;
}

.player .player-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Video information */
/* - Primary-info */
/* - Secondary-info */

/* Primary-info */
.video-primary-info {
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 12px;
}

.titleNbtn {
    display: flex;
    width: 100%;
}

.titleNbtn__title {
    margin: 0;
    font-size: var(--font-medium);
    width: 98%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 2.5rem;
}

.titleNbtn .titleNbtn__caretDownBtn {
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.titleNbtn .titleNbtn__caretDownBtn .fa-caret-down {
    font-size: 14px;
    cursor: pointer;
}

.metaInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.metaInfo .text {
    font-size: var(--font-small);
    color: var(--lighter-grey);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.metaInfo .text .views::after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: var(--lighter-grey);
    display: inline-block;
    border-radius: 50%;
    margin: 0px 4px;
    transform: translate(0px, 2px);
}

.metaInfo .mainIcons {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    gap: 9px;
}

.metaInfo .mainIcons .btn {
    padding: 6px 10px;
    display: Flex;
    align-items: center;
}

.metaInfo .mainIcons .btn i {
    font-size: var(--icon-metaInfo);
    margin-right: 7px;
}

.mainIcons .like-btn {
    position: relative;
}

.mainIcons .like-btn::before {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background-color: var(--font-color);
    position: absolute;
    top: 42px;
    left: 0px;
}

.mainIcons .btn .icon-text {
    font-weight: 500;
    font-size: 14px;
}

/* Secondary-info */
/* - Top-row */
/* - Bottom-row */

/* Top-row  */
.video-secondary-info {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}

.video-secondary-info__top-row {
    display: flex;
    justify-content: space-between;
}

.top-row__avartar-info {
    display: flex;
    width: 15%;
    align-items: center;
}

.video-secondary-info__metainfo {
    margin-left: 12px;
}

.video-secondary-info__metainfo .id {
    font-weight: 900;
    font-size: var(--font-small);
    margin-bottom: 3px;
}

.subscribe-btn {
    all: unset;
    background-color: var(--red-color);
    border-radius: 3px;
    padding: 10px 16px;
    cursor: pointer;
    color: var(--font-color);
    font-weight: 500;
    margin: 4px 6px;
}

/* Bottom-row */

/* Next Viedos */
